{
    "servers": [
        {
            "url": "https://api.nexmo.com/beta"
        }
    ],
    "info": {
        "version": "1.6.0",
        "title": "Nexmo Stitch API",
        "description": "The Nexmo Stitch API enables you to build conversation features where communication can take place across multiple mediums including IP Messaging, PSTN Voice, SMS and WebRTC Audio and Video. The context of the conversations is maintained though each communication event taking place within a conversation, no matter the medium.",
        "contact": {
            "name": "Nexmo Support",
            "url": "https://developer.nexmo.com/",
            "email": "ea-support@nexmo.com"
        },
        "x-label": "Developer Preview"
    },
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "openapi": "3.0.0",
    "paths": {
        "/users": {
            "get": {
                "summary": "List users",
                "x-swagger-router-controller": "users",
                "x-group": "user",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/userLite"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a user",
                "x-swagger-router-controller": "users",
                "x-group": "user",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/userLite"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/userNew"
                }
            }
        },
        "/users/{user_id}": {
            "get": {
                "summary": "Retrieve a user",
                "x-swagger-router-controller": "users",
                "x-group": "user",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/user_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/user"
                    }
                }
            },
            "put": {
                "summary": "Update a user",
                "x-swagger-router-controller": "users",
                "x-group": "user",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/user_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/userLite"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/userNew"
                }
            },
            "delete": {
                "summary": "Delete a user",
                "x-swagger-router-controller": "users",
                "x-group": "user",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/user_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {}
                    }
                }
            }
        },
        "/users/{user_id}/conversations": {
            "get": {
                "summary": "List user conversations",
                "x-swagger-router-controller": "users",
                "x-group": "user",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/user_id"
                    },
                    {
                        "$ref": "#/components/parameters/member_state_req"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/userConversation"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/conversations": {
            "post": {
                "summary": "Create a conversation",
                "x-swagger-router-controller": "createConversation",
                "x-group": "conversation",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/conversationLite"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/conversation"
                }
            },
            "get": {
                "summary": "List conversations",
                "x-swagger-router-controller": "listConversations",
                "x-group": "conversation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/name_conversation"
                    },
                    {
                        "$ref": "#/components/parameters/date_start"
                    },
                    {
                        "$ref": "#/components/parameters/date_end"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/record_index"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "format": "float"
                                        },
                                        "page_size": {
                                            "$ref": "#/components/schemas/page_size"
                                        },
                                        "record_index": {
                                            "$ref": "#/components/schemas/record_index"
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/_links"
                                        },
                                        "_embedded": {
                                            "type": "object",
                                            "properties": {
                                                "conversations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "uuid": {
                                                                "$ref": "#/components/schemas/conversation_id"
                                                            },
                                                            "name": {
                                                                "$ref": "#/components/schemas/name_conversation"
                                                            },
                                                            "_links": {
                                                                "$ref": "#/components/schemas/_links"
                                                            }
                                                        },
                                                        "required": [
                                                            "uuid",
                                                            "name",
                                                            "_links"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "conversations"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "count",
                                        "page_size",
                                        "record_index",
                                        "_links",
                                        "_embedded"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/conversations/{conversation_id}": {
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/conversationLite"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/conversation"
                },
                "summary": "Update conversations"
            },
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/conversation"
                    }
                },
                "summary": "Get conversations"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {}
                    }
                },
                "summary": "Delete conversations"
            }
        },
        "/devices/{device_id}": {
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/device_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "href": {
                                            "type": "string",
                                            "format": "uri"
                                        },
                                        "id": {
                                            "$ref": "#/components/parameters/device_id"
                                        }
                                    },
                                    "required": [
                                        "href",
                                        "id"
                                    ]
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/device_registation"
                },
                "summary": "Update devices"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/device_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {}
                    }
                },
                "summary": "Delete devices"
            }
        },
        "/conversations/{conversation_id}/members": {
            "post": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/member"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "user_id": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "user_name": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "action": {
                                                "type": "string",
                                                "enum": [
                                                    "invite",
                                                    "join"
                                                ]
                                            },
                                            "media": {
                                                "oneOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "audio_settings": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "enabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "earmuffed": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "muted": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            },
                                                            "audio": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "enabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "earmuffed": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "muted": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "audio_settings": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "enabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "earmuffed": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "muted": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            },
                                                            "audio": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                ]
                                            },
                                            "member_id": {
                                                "type": "string"
                                            },
                                            "knocking_id": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "member_id_inviting": {
                                                "$ref": "#/components/schemas/member_id"
                                            },
                                            "channel": {
                                                "$ref": "#/components/schemas/channel"
                                            }
                                        },
                                        "required": [
                                            "action"
                                        ]
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "user_id": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "user_name": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "action": {
                                                "type": "string",
                                                "enum": [
                                                    "invite",
                                                    "join"
                                                ]
                                            },
                                            "media": {
                                                "oneOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "audio_settings": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "enabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "earmuffed": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "muted": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            },
                                                            "audio": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "enabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "earmuffed": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "muted": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "audio_settings": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "enabled": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "earmuffed": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "muted": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            },
                                                            "audio": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                ]
                                            },
                                            "knocking_id": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "member_id_inviting": {
                                                "$ref": "#/components/schemas/member_id"
                                            },
                                            "channel": {
                                                "$ref": "#/components/schemas/channel"
                                            }
                                        },
                                        "required": [
                                            "action",
                                            "channel"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Create members"
            },
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/conversation_members"
                                }
                            }
                        }
                    }
                },
                "summary": "Get members"
            }
        },
        "/conversations/{conversation_id}/members/{member_id}": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/member_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/member"
                                }
                            }
                        }
                    }
                },
                "summary": "Get members"
            },
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/member_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "href": {
                                            "type": "string",
                                            "format": "uri"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "href"
                                    ]
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "channel": {
                                        "$ref": "#/components/schemas/channel"
                                    },
                                    "action": {
                                        "type": "string",
                                        "enum": [
                                            "join"
                                        ]
                                    }
                                },
                                "required": [
                                    "channel",
                                    "action"
                                ]
                            }
                        }
                    }
                },
                "summary": "Update members"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/member_id"
                    },
                    {
                        "$ref": "#/components/parameters/reason_code"
                    },
                    {
                        "$ref": "#/components/parameters/reason_text"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Delete members"
            }
        },
        "/knocking": {
            "summary": "Create knocking",
            "post": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "channel": {
                                            "$ref": "#/components/schemas/channel"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "$ref": "#/components/schemas/knocker_timestamp"
                                        }
                                    },
                                    "required": [
                                        "channel",
                                        "id",
                                        "timestamp"
                                    ]
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "channel": {
                                        "$ref": "#/components/schemas/channel"
                                    }
                                },
                                "required": [
                                    "channel"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/knocking/{knocking_id}": {
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/knocking_id"
                    },
                    {
                        "$ref": "#/components/parameters/reason_code"
                    },
                    {
                        "$ref": "#/components/parameters/reason_text"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Delete knocking"
            }
        },
        "/conversations/{conversation_id}/events": {
            "post": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/eventLite"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/events"
                },
                "summary": "Create events"
            },
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/start_id"
                    },
                    {
                        "$ref": "#/components/parameters/end_id"
                    },
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/eventsListResponse"
                    }
                },
                "summary": "Get events"
            }
        },
        "/conversations/{conversation_id}/events/{event_id}": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/event_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/eventsResponse"
                    }
                },
                "summary": "Get events"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/event_id"
                    },
                    {
                        "$ref": "#/components/parameters/from_member"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {}
                    }
                },
                "summary": "Delete events"
            }
        },
        "/sessions": {
            "post": {
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/session"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/session"
                },
                "summary": "Create sessions"
            }
        },
        "/sessions/{session_id}": {
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/session_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/sessionLite"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    }
                },
                "summary": "Update sessions"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/session_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "summary": "Delete sessions"
            }
        },
        "/capis/{capi_id}": {
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/capi_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "format": "float"
                                        }
                                    },
                                    "required": [
                                        "count"
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Delete capis"
            }
        },
        "/legs": {
            "get": {
                "summary": "List legs",
                "x-swagger-router-controller": "listLegs",
                "x-group": "leg",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/record_index"
                    },
                    {
                        "$ref": "#/components/parameters/date_start"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/date_end"
                    },
                    {
                        "$ref": "#/components/parameters/conversation_uuid"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List Legs Response Payload Object",
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "format": "float"
                                        },
                                        "page_size": {
                                            "$ref": "#/components/schemas/page_size"
                                        },
                                        "record_index": {
                                            "$ref": "#/components/schemas/record_index"
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/_links"
                                        },
                                        "_embedded": {
                                            "type": "object",
                                            "properties": {
                                                "legs": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/leg"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "legs"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "count",
                                        "page_size",
                                        "record_index",
                                        "_links",
                                        "_embedded"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/legs/{leg_id}": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/leg"
                                }
                            }
                        }
                    }
                },
                "summary": "Get legs"
            },
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/leg"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/legModify"
                },
                "summary": "Update legs"
            },
            "delete": {
                "summary": "Delete a leg",
                "x-swagger-router-controller": "deleteLeg",
                "x-group": "leg",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {}
                    }
                }
            }
        },
        "/legs/{leg_id}/recording": {
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legRecordRes"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/legRecord"
                },
                "summary": "Update recording"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    },
                    {
                        "$ref": "#/components/parameters/beep"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legRecordRes"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete recording"
            }
        },
        "/legs/{leg_id}/stream": {
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legStreamRes"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/legStream"
                },
                "summary": "Update stream"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legStreamRes"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete stream"
            }
        },
        "/legs/{leg_id}/talk": {
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legTalkRes"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/legTalk"
                },
                "summary": "Update talk"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legTalkRes"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete talk"
            }
        },
        "/legs/{leg_id}/dtmf": {
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legDTMFRes"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/legDTMF"
                },
                "summary": "Update dtmf"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legDTMFRes"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete dtmf"
            }
        },
        "/legs/{leg_id}/asr": {
            "put": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legASRRes"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/legASR"
                },
                "summary": "Update asr"
            },
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/leg_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/responses/legASRRes"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete asr"
            }
        },
        "/conversations/{conversation_id}/rtc": {
            "post": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/rtcLite"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/rtcNewRequestType"
                },
                "summary": "Create rtc"
            }
        },
        "/conversations/{conversation_id}/rtc/{rtc_id}/offer": {
            "post": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/rtc_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/rtcIdLite"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/rtcOfferRequest"
                },
                "summary": "Create offer"
            }
        },
        "/conversations/{conversation_id}/rtc/{rtc_id}/answer": {
            "post": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/rtc_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/rtcIdLite"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/rtcAnswerRequest"
                },
                "summary": "Create answer"
            }
        },
        "/conversations/{conversation_id}/rtc/{rtc_id}": {
            "delete": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/rtc_id"
                    },
                    {
                        "$ref": "#/components/parameters/originating_session"
                    },
                    {
                        "$ref": "#/components/parameters/from_member_required"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/rtcIdLite"
                    }
                },
                "summary": "Delete rtc"
            }
        },
        "/conversations/{conversation_id}/rtc/{rtc_id}/ice": {
            "post": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/conversation_id"
                    },
                    {
                        "$ref": "#/components/parameters/rtc_id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/rtcIdLite"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/rtcIceRequest"
                },
                "summary": "Create ice"
            }
        },
        "/v2/applications": {
            "post": {
                "operationId": "createApplication",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Application Name",
                                        "example": "Demo Application",
                                        "type": "string"
                                    },
                                    "keys": {
                                        "type": "object",
                                        "properties": {
                                            "public_key": {
                                                "type": "string",
                                                "example": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCA\nKOxjsU4pf/sMFi9N0jqcSLcjxu33G\nd/vynKnlw9SENi+UZR44GdjGdmfm1\ntL1eA7IBh2HNnkYXnAwYzKJoa4eO3\n0kYWekeIZawIwe/g9faFgkev+1xsO\nOUNhPx2LhuLmgwWSRS4L5W851Xe3f\nUQIDAQAB\n-----END PUBLIC KEY-----\n",
                                                "description": "Public key"
                                            }
                                        }
                                    },
                                    "capabilities": {
                                        "type": "object",
                                        "description": "Your application can use multiple products. This contains the configuration for each product. This replaces the application `type` from version 1 of the Application API.",
                                        "x-nexmo-developer-collection-description-shown": true,
                                        "properties": {
                                            "voice": {
                                                "type": "object",
                                                "description": "Voice application webhook config",
                                                "x-nexmo-developer-collection-description-shown": true,
                                                "properties": {
                                                    "webhooks": {
                                                        "type": "object",
                                                        "properties": {
                                                            "answer_url": {
                                                                "type": "object",
                                                                "description": "The URL that Nexmo make a request to when a call is placed/received. Must return an NCCO",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/answer"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "GET",
                                                                        "enum": [
                                                                            "GET",
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "fallback_answer_url": {
                                                                "type": "object",
                                                                "description": "If your `answer_url` is offline or returns a HTTP error code, Nexmo will make a request to a\n`fallback_answer_url` if it is set. This URL must return an NCCO.\n",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://fallback.example.com/webhooks/answer"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "GET",
                                                                        "enum": [
                                                                            "GET",
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "event_url": {
                                                                "type": "object",
                                                                "description": "Nexmo will send call events (e.g. `ringing`, `answered`) to this URL",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/event"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "POST",
                                                                        "enum": [
                                                                            "GET",
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "rtc": {
                                                "type": "object",
                                                "description": "RTC / Client SDK application webhook config",
                                                "x-nexmo-developer-collection-description-shown": true,
                                                "properties": {
                                                    "webhooks": {
                                                        "type": "object",
                                                        "properties": {
                                                            "event_url": {
                                                                "type": "object",
                                                                "description": "Nexmo will send RTC events to this URL",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/event"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "POST",
                                                                        "enum": [
                                                                            "GET",
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "messages": {
                                                "type": "object",
                                                "description": "Messages and Dispatch application webhook config",
                                                "x-nexmo-developer-collection-description-shown": true,
                                                "properties": {
                                                    "webhooks": {
                                                        "type": "object",
                                                        "properties": {
                                                            "inbound_url": {
                                                                "type": "object",
                                                                "description": "Nexmo will forward inbound messages to this URL",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/inbound"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "POST",
                                                                        "enum": [
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "status_url": {
                                                                "type": "object",
                                                                "description": "Nexmo will send message status updates (e.g. `delivered`, `seen`) to this URL",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/status"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "POST",
                                                                        "enum": [
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "vbc": {
                                                "type": "object",
                                                "description": "Specify `vbc` capability to enable zero-rated calls for VBC number programmability service applications. This must be an empty object.",
                                                "x-nexmo-developer-collection-description-shown": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "object",
                                            "properties": {
                                                "public_key": {
                                                    "type": "string",
                                                    "example": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCA\nKOxjsU4pf/sMFi9N0jqcSLcjxu33G\nd/vynKnlw9SENi+UZR44GdjGdmfm1\ntL1eA7IBh2HNnkYXnAwYzKJoa4eO3\n0kYWekeIZawIwe/g9faFgkev+1xsO\nOUNhPx2LhuLmgwWSRS4L5W851Xe3f\nUQIDAQAB\n-----END PUBLIC KEY-----\n"
                                                },
                                                "private_key": {
                                                    "type": "string",
                                                    "example": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFA\nASCBKcwggSjAgEAAoIBAQDEPpvi+3\nRH1efQ\\nkveWzZDrNNoEXmBw61w+O\n0u/N36tJnN5XnYecU64yHzu2ByEr0\n7iIvYbavFnADwl\\nHMTJwqDQakpa3\n8/SFRnTDq3zronvNZ6nOp7S6K7pcZ\nrw/CvrL6hXT1x7cGBZ4jPx\\nqhjqY\nuJPgZD7OVB69oYOV92vIIJ7JLYwqb\n-----END PRIVATE KEY-----\n"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "callbacks": {
                    "events": {
                        "{$request.body#/capabilities/rtc/webhooks/event_url}": {
                            "post": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/callback"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": ""
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Create applications"
            }
        },
        "/v2/applications/{id}": {
            "put": {
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the application",
                        "example": "78d335fa323d01149c3dd6f0d48968cf",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "updateApplication",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Application Name",
                                        "example": "Demo Application",
                                        "type": "string"
                                    },
                                    "keys": {
                                        "type": "object",
                                        "properties": {
                                            "public_key": {
                                                "type": "string",
                                                "example": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCA\nKOxjsU4pf/sMFi9N0jqcSLcjxu33G\nd/vynKnlw9SENi+UZR44GdjGdmfm1\ntL1eA7IBh2HNnkYXnAwYzKJoa4eO3\n0kYWekeIZawIwe/g9faFgkev+1xsO\nOUNhPx2LhuLmgwWSRS4L5W851Xe3f\nUQIDAQAB\n-----END PUBLIC KEY-----\n",
                                                "description": "Public key"
                                            }
                                        }
                                    },
                                    "capabilities": {
                                        "type": "object",
                                        "description": "Your application can use multiple products. This contains the configuration for each product. This replaces the application `type` from version 1 of the Application API.",
                                        "x-nexmo-developer-collection-description-shown": true,
                                        "properties": {
                                            "voice": {
                                                "type": "object",
                                                "description": "Voice application webhook config",
                                                "x-nexmo-developer-collection-description-shown": true,
                                                "properties": {
                                                    "webhooks": {
                                                        "type": "object",
                                                        "properties": {
                                                            "answer_url": {
                                                                "type": "object",
                                                                "description": "The URL that Nexmo make a request to when a call is placed/received. Must return an NCCO",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/answer"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "GET",
                                                                        "enum": [
                                                                            "GET",
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "fallback_answer_url": {
                                                                "type": "object",
                                                                "description": "If your `answer_url` is offline or returns a HTTP error code, Nexmo will make a request to a\n`fallback_answer_url` if it is set. This URL must return an NCCO\n",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://fallback.example.com/webhooks/answer"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "GET",
                                                                        "enum": [
                                                                            "GET",
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "event_url": {
                                                                "type": "object",
                                                                "description": "Nexmo will send call events (e.g. `ringing`, `answered`) to this URL",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/event"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "POST",
                                                                        "enum": [
                                                                            "GET",
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "rtc": {
                                                "type": "object",
                                                "description": "RTC / Client SDK application webhook config",
                                                "x-nexmo-developer-collection-description-shown": true,
                                                "properties": {
                                                    "webhooks": {
                                                        "type": "object",
                                                        "properties": {
                                                            "event_url": {
                                                                "type": "object",
                                                                "description": "Nexmo will send RTC events to this URL",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/event"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "POST",
                                                                        "enum": [
                                                                            "GET",
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "messages": {
                                                "type": "object",
                                                "description": "Messages and Dispatch application webhook config",
                                                "x-nexmo-developer-collection-description-shown": true,
                                                "properties": {
                                                    "webhooks": {
                                                        "type": "object",
                                                        "properties": {
                                                            "inbound_url": {
                                                                "type": "object",
                                                                "description": "Nexmo will forward inbound messages to this URL",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/inbound"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "POST",
                                                                        "enum": [
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "status_url": {
                                                                "type": "object",
                                                                "description": "Nexmo will send message status updates (e.g. `delivered`, `seen`) to this URL",
                                                                "x-nexmo-developer-collection-description-shown": true,
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/webhooks/status"
                                                                    },
                                                                    "http_method": {
                                                                        "type": "string",
                                                                        "example": "POST",
                                                                        "enum": [
                                                                            "POST"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "vbc": {
                                                "type": "object",
                                                "description": "Specify the `vbc` capability to enable zero-rated calls for VBC number programmability service applications.  This must be an empty object.",
                                                "x-nexmo-developer-collection-description-shown": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "object",
                                            "properties": {
                                                "public_key": {
                                                    "type": "string",
                                                    "example": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCA\nKOxjsU4pf/sMFi9N0jqcSLcjxu33G\nd/vynKnlw9SENi+UZR44GdjGdmfm1\ntL1eA7IBh2HNnkYXnAwYzKJoa4eO3\n0kYWekeIZawIwe/g9faFgkev+1xsO\nOUNhPx2LhuLmgwWSRS4L5W851Xe3f\nUQIDAQAB\n-----END PUBLIC KEY-----\n"
                                                },
                                                "private_key": {
                                                    "type": "string",
                                                    "example": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFA\nASCBKcwggSjAgEAAoIBAQDEPpvi+3\nRH1efQ\\nkveWzZDrNNoEXmBw61w+O\n0u/N36tJnN5XnYecU64yHzu2ByEr0\n7iIvYbavFnADwl\\nHMTJwqDQakpa3\n8/SFRnTDq3zronvNZ6nOp7S6K7pcZ\nrw/CvrL6hXT1x7cGBZ4jPx\\nqhjqY\nuJPgZD7OVB69oYOV92vIIJ7JLYwqb\n-----END PRIVATE KEY-----\n"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "callbacks": {
                    "events": {
                        "{$request.body#/capabilities/rtc/webhooks/event_url}": {
                            "put": {
                                "requestBody": {
                                    "required": true,
                                    "content": {
                                        "application/json": {
                                            "schema": {
                                                "$ref": "#/components/schemas/callback"
                                            }
                                        }
                                    }
                                },
                                "responses": {
                                    "200": {
                                        "description": ""
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Update applications"
            }
        }
    },
    "components": {
        "schemas": {
            "conversation_id": {
                "type": "string"
            },
            "name_conversation": {
                "description": "Unique name for a conversation",
                "example": "customer_chat",
                "type": "string"
            },
            "display_name": {
                "description": "The display name for the conversation. It does not have to be unique",
                "example": "Customer Chat",
                "type": "string",
                "nullable": true
            },
            "user_id": {
                "description": "User ID",
                "example": "USR-63f61863-4a51-4f6b-86e1-46edebio0391",
                "type": "string"
            },
            "leg_id": {
                "description": "The id of the leg. rtc_id and call_id are leg id",
                "example": "a595959595959595995",
                "type": "string"
            },
            "knocking_id": {
                "type": "string"
            },
            "rtc_id": {
                "type": "string"
            },
            "member_id": {
                "description": "Member ID",
                "example": "MEM-63f61863-4a51-4f6b-86e1-46edebio0391",
                "type": "string"
            },
            "nullable_member_id": {
                "type": "string",
                "nullable": true
            },
            "member_state": {
                "description": "The state that the member is in. Possible values are `invited`, `joined`, `left`, or `unknown`",
                "example": "INVITED",
                "type": "string",
                "enum": [
                    "INVITED",
                    "JOINED",
                    "LEFT",
                    "UNKNOWN"
                ]
            },
            "member_state_req": {
                "type": "string",
                "enum": [
                    "INVITED",
                    "JOINED",
                    "LEFT",
                    "UNKNOWN"
                ]
            },
            "member_name": {
                "type": "string"
            },
            "properties": {
                "type": "object",
                "properties": {
                    "ttl": {
                        "$ref": "#/components/schemas/ttl"
                    },
                    "type": {
                        "type": "string"
                    },
                    "custom_data": {
                        "type": "object"
                    }
                }
            },
            "member": {
                "type": "object",
                "properties": {
                    "member_id": {
                        "$ref": "#/components/schemas/member_id"
                    },
                    "id": {
                        "$ref": "#/components/schemas/member_id"
                    },
                    "user_id": {
                        "$ref": "#/components/schemas/user_id"
                    },
                    "name": {
                        "type": "string"
                    },
                    "display_name": {
                        "type": "string"
                    },
                    "conversation_id": {
                        "type": "string"
                    },
                    "state": {
                        "$ref": "#/components/schemas/member_state"
                    },
                    "timestamp": {
                        "type": "object",
                        "properties": {
                            "invited": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date in ISO format"
                            },
                            "joined": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date in ISO format"
                            },
                            "left": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date in ISO format"
                            }
                        }
                    },
                    "knocking_id": {
                        "$ref": "#/components/schemas/knocking_id"
                    },
                    "invited_by": {
                        "$ref": "#/components/schemas/user_id"
                    },
                    "channel": {
                        "$ref": "#/components/schemas/channel"
                    },
                    "initiator": {
                        "type": "object"
                    },
                    "legs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/legs"
                        }
                    },
                    "leg_ids": {
[...]
